* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 确保padding/margin不撑大元素宽度 */
}

html,
body {
    height: 100%;
    /* 关键：让 body 继承 html 的视口高度 */
    margin: 0;
    /* 清除默认的 8px 外边距 */
    padding: 0;
    /* 清除默认的内边距 */
    overflow: auto;
    background: linear-gradient(to top, #2f9823, #5ee79c);
    min-height: 100vh;
    background-repeat: no-repeat;
}


.main-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10vh;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 100%;
}

.list-container {
    margin-bottom: 3%;
    height: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listInfo {
    height: 16vh;
    width: 100%;
    margin-top: 4%;
    background-color: rgb(255, 255, 255);

    border-radius: 10px;
    display: flex;
    cursor: pointer;
}

.listInfo:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.302);
    transform: translateY(-5px);
}

.cover-container {
    width: 18%;
    height: 89%;
    margin-top: 1.2%;
    margin-left: 2%;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.cover-container{
    width: 15%;
    position: relative;
    bottom: 24%;
    border: 5px solid rgb(74, 77, 74);
}

.cover-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.listname {
    font-size: 200%;
    line-height: 200%;
    text-align: center;
    font-weight: bold;
}

.Listcover {
    object-fit: cover;
}

.songs-container {
    width: 90%;
    max-height: 0;

    overflow: hidden;
    transition: max-height 0.4s ease;

}

.songs-container.active {
    max-height: 10000px;
    display: block;
}

.loading {
    background-color: #4444446d;
    text-align: center;
    opacity: 0.8;
    border-radius: 12px;
    height: 2.5vh;
}

.song-container {
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: center;
    background-color: #4444446d;
    opacity: 0.8;
    height: 18vh;
    width: 100%;
    display: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease ;
}

.song-container.active {
    display: block;
}

.song-container:hover{
    transform: translateY(-3px);
    box-shadow: 2px 2px 8px  rgba(40, 40, 40, 0.692);
}

.song-cover {
    width: 15vh;
    height: 15vh;
    margin-top: 1.5vh;
    margin-left: 2vh;
    float: left;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.song-cover img {
    object-fit: cover;
    border-radius: 5px;
    float: left;
}

.song-info{
    flex:1;
    display: flex;
    flex-direction: column;
}

.song-name{
    text-align: center;
    color: black;
    font-size: bold;
}

.songer-name{
    color :rgba(103, 103, 103, 0.628);
    text-align: center;
}